<include file="Public:header" />
<include file="Public:left" />
<div class="content">
    <div class="margin-l15">
        <h2>申请设备</h2>
        <blockquote>
            <p class="font14 darkcyan">一个设备可以覆盖约100-300平方米。<br>
                如果您申请的设备大于500,请联系客服人员！</p>
        </blockquote>

        <form action="" method="post" class="col-md-8">

            <div class="form-group ">
                <label for="regNumber">数量：</label>
                <a id="clickMlus" href="javascript:;" class="pointer">-</a>
                <input type="text" style="width:40px;height:30px;text-align: center;" id="regNumber" name="quantity" value="1">
                <a id="clickPlus" href="javascript:;" class="pointer">+</a>
                <p class="help-block">一个设备可以覆盖约100-300平方米。</p>
            </div>
            <div class="form-group ">
                <label for="comment">备注：</label>
                <input type="text" class=" form-control " id="comment" name="comment" placeholder="">
                <span><a>0</a>/15</span>
                <p class="help-block">描述设备的具体位置或用途，以便日后更方便搜索到该设备。15字以内</p>
            </div>
            <div class="form-group ">
                <label for="apply_reason">申请理由：</label>
                <textarea class="form-control" id="apply_reason" name="apply_reason" rows="3"></textarea>
                <span><a>0</a>/100</span>
                <p class="help-block">请认证填写申请理由,不得超过100个汉字</p>
            </div>

            <button type="submit" class="btn btn-default">提交申请</button>

        </form>
    </div>
</div>
<include file="Public:footer" />

<script>
    $('button').click(function(){
        if(isNaN($('#regNumber').val())){
            message_err('请填写正确的数字')
            return false
        }

    })

    $('#regNumber').keypress(function(event){
        if(event.keyCode > 57 || event.keyCode < 48){
            message_err('请填写正确的数字')
            return false;
        }

    })

    $('#regNumber').blur(function(){
        if($(this).val() > 500){
            message_err('设备数量不得超过500')
            $(this).val('500')
            return false;
        }
    })

    $('#comment').keyup(function(){
        var len = $(this).val().length
        if(len>15){
            $(this).next().find('a').html(len).css('color','red')
            $(this).parent('.form-group').addClass('has-warning')
            message_err('字数不能超过15')
        }else{
            $(this).parent('.form-group').removeClass('has-warning')
            $(this).next().find('a').html(len);
        }
    })

    $('#apply_reason').keyup(function(){
        var len = $(this).val().length
        console.dir(len)
        if(len>100){
            $(this).next().find('a').html(len).css('color','red')
            $(this).parent('.form-group').addClass('has-warning')
            message_err('字数不能超过100')
        }else{
            $(this).parent('.form-group').removeClass('has-warning')
            $(this).next().find('a').html(len);
        }
    })
</script>
