<include file="Public:header"/>
<include file="Public:left"/>
<div class="content">
    <div class="margin-l15">
        <h2>配置设备</h2>
        <blockquote>
            <p class="font14 darkcyan">配置设备信息,使用配置软件(点击下载)进行配置<br>
                您可以用微信扫一扫下面的二维码,即可用手机查看</p>
        </blockquote>

        <table class="col-md-12">
            <tr>
                <td class="col-md-2">
                         <img src="__PUBLIC__/qecode_drive/{$drive_info.id}.png" width="100%">
                </td>

                <td class="col-md-10">
                    <p class="bg-primary margin0 paddingt5 padding-l15">设备ID:{$drive_info.device_id}</p>

                    <p class="bg-success margin0 paddingt5 padding-l15">UUID:{$drive_info.uuid}</p>

                    <p class="bg-info margin0 paddingt5 padding-l15">Major:{$drive_info.major}</p>

                    <p class="bg-warning margin0 paddingt5 padding-l15">Minor:{$drive_info.minor}</p>

                    <p class="bg-danger margin0 paddingt5 padding-l15">备注信息: <input type="text" value="{$drive_info.comment}"
                                                                        disabled="false"></p>
                </td>
            </tr>
        </table>
    </div>
</div>


<include file="Public:footer"/>
